{% extends "base.html" %}
{% block title %}AMGEN Online Application{% endblock %}
{% block content %}
	<form action="/checkUsername" method="POST">
		<div align="center">
			<center>
				<table width="75%" cellspacing="0" cellpadding="2" border="0">
					<tbody>
						<tr>
							<td bgcolor="#004488" width="100%" align="center"><font
								face="Arial Unicode MS" size="3" color="#ffffff"><b>
								</br>Enter your university email address to log into your account.
								</b></font></td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
		<div align="center">
			<center>
				<p>
					Username: <input size="28" name="username" value="">  
				</p>
			</center>
		</div>
		<div align="center">
			<center>
				<p>
					Password: <input size="28" name="passwrd" type="password" value=""> 
				</p>
			</center>
		</div>
		<div align="center">
			<center>
				<p>
					Don't have an account? Sign up <a href="{{url_for('static', filename='signup.html')}}">here!</a>

				</p>
			</center>
		</div>
		<div align="center">
			<center>
				<p> {% if error %}
		      <font size="4" color="red">Error:{{ error }}</font>
		      {% endif %}</p>
			</center>
		</div>
		
		
										
		<div align="center">
			<center>
				<p>
					<font face="Arial"> <br> <input value="Submit"	type="submit"> 
					</font>
				</p>
			</center>
		</div>
	</form>
{% endblock %}
