{% extends "base.html" %}
{% block title %}AMGEN Online Application{% endblock %}
{% block content %}
  <form action="/referralUpload" method="POST">
    <center>
      <table width="61%" cellspacing="0" cellpadding="2" border="0">
        <tbody>
          <tr>
            <td align="center" bgcolor="#004488" width="50%"><div
                align="center">
                <p>
                  <font size="4" face="Arial" color="#ffffff">Recommendation Submission</font>
                </p>
              </div></td>
          </tr>
        </tbody>
      </table>
    </center>
    <font face="Arial Unicode MS">
      <center>
        </br> Please upload your letter of reference in pdf format for {{studentName}}:
        </br>
        </br>
        <table>
          <tr>
            <td>
                <input type="file" id="fileupload" name="file">
            </td>
          </tr>
        </table>
      </center>
    </font>
    <div align="center">
      <center>
        <p>
          <font face="Arial Unicode MS"> Hit the Submit button, and
            wait a minute for it to send.</font>
        </p>

      </center>
    </div>
    <div align="center">
      <center>
        <table width="75%" cellspacing="0" cellpadding="2" border="0">
          <div align="center">
            <center>
              <table width="75%" cellspacing="0" cellpadding="2" border="0">
                <tbody>

                  <p></p>
                  <div align="center">
                    <div align="center">
                      <center>
                        <p>
                          <font face="Arial"> <br> 
                            <input name="submitButton" value="Submit" type="submit">
                          </font>

                        </p>
                      </center>
                    </div>
                  </div>
                </tbody>
              </table>
            </center>
          </div>
        </table>
      </center>
    </div>
  </form>
{% endblock %}